.locations__item--active span{
  font-weight: 900;
  position: relative;
}

.locations__item--active span::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.locations__item--active .locations__item-link:hover{
  text-shadow: none;
}
